body {
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-left: 65px;
}
.wrapper {
  margin: auto;
  width: 80%;
}
.main-logo {
  position: relative;
  padding: 40px 0;
  padding-left: 44px;
  margin-right: 960px;
  font: bold 24px/31.8px PT_Serif, Arial, Helvetica, Sans-serif;
}
.logo__circle {
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7; 
}
.logo__circle_color_dark-blue {
  background: #0056EC;
}
.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #C8DBFB;
}
.menu {
  display: flex;
  align-items: center;
  left: 217px;
}
.menu__item {
  position: relative;
  margin-right: 26px;
  color: #000;
  text-decoration: none;
  font: 500 18px/21px Roboto, Arial, Helvetica, Sans-Serif;
}
.menu__item_active:after {
  position: absolute;
  width: 100%;
  height: 3px;
  background: #0056EC;
  display: block;
  content: '';
}
.menu__item:hover {
  transition: .5s;
  text-align: center;
  transform: scale(1.2);
}
.menu__item:last-child {
  margin-right: 0;
}
.main {
  padding: 52px 45% 40px 65px;
  background: url('file://D:/WebHeroSchool/MyFirstWork%20(GD)/SiteOfMe/img/mainImg.svg.svg') no-repeat top right;
}
.main__title {
  margin-bottom: 35px;
  font: bold 66px/87px PT_Serif, Arial, Helvetica, Sans-serif;
}
.main__title-text_highlight {
  background: #ECF3FF;
}
.main__subtitle {
  margin-bottom: 43px;
  font: 400 22px/26px Roboto, Arial, Helvetica, Sans-serif;
}
.main__button {
	display: inline-block;
   padding: 16px 18px;
   text-decoration: none;
   color: #FFF;
   background: #0056EC;
   border-radius: 4px;
  font: 500 18px/21px Roboto, Arial, Helvetica, Sans-serif;
  transition: opacity .5s;
}
.main__button:hover {
 opacity: .5;
}